<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">


    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>
<body>
<header>
</header>
<% include partials/sidebar.ejs %>

<div class="container-fluid no-padding limitbanner">
    <img src="filler.jpg" class="img-fluid banner" alt="Responsive image">
</div>

<h1 class="text-center">Rocket League Stats</h1>

<div class="container mainbodycontent">

<p class="text-center">Rocket League is a competitive E-Sport.</p>
        </div>
    </div>
</div>



</div>
</div>

    <script>
        function getLeaderboard() {
            $(".limitbanner").remove();
            $(".mainbodycontent").empty();
            $(".mainbodycontent").append("<!-- nav tabs -->\n" +
                "    <ul class=\"nav nav-tabs\">\n" +
                "        <li class=\"nav-item\">\n" +
                "            <a data-toggle=\"tab\" class=\"nav-link active\" href=\"#1v1\">1 v 1</a>\n" +
                "        </li>\n" +
                "        <li class=\"nav-item\">\n" +
                "            <a  data-toggle=\"tab\" class=\"nav-link\" href=\"#2v2\">2 v 2</a>\n" +
                "        </li>\n" +
                "        <li class=\"nav-item\">\n" +
                "            <a data-toggle=\"tab\" class=\"nav-link\" href=\"#3v3\">Standard</a>\n" +
                "        </li>\n" +
                "        <li class=\"nav-item\">\n" +
                "            <a data-toggle=\"tab\" class=\"nav-link\" href=\"#3v3ss\">Solo Standard</a>\n" +
                "        </li>\n" +
                "    </ul>\n" +
                "    <div class=\"tab-content\">\n" +
                "        <div id=\"1v1\" class=\"tab-pane show fade in active\">\n" +
                "            <table class=\"table table-striped table-dark table-condensed table-hover\">\n" +
                "                <thead>\n" +
                "                <tr>\n" +
                "                    <th scope=\"col\">#</th>\n" +
                "                    <th scope=\"col\">Username</th>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <tbody>\n" +
                "                <% for (i = 0; i < 10; i++) { %>\n" +
                "                <thead>\n" +
                "                <tr>\n" +
                "                    <th scope=\"row\"><%= i + 1 %></th>\n" +
                "                    <td><%= leader[i] %></td>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <% } %>\n" +
                "                </tbody>\n" +
                "            </table>\n" +
                "        </div>\n" +
                "        <div id=\"2v2\" class=\"tab-pane fade\">\n" +
                "            <table class=\"table table-striped table-dark table-hover\">\n" +
                "                <thead>\n" +
                "                <tr>\n" +
                "                    <th scope=\"col\">#</th>\n" +
                "                    <th scope=\"col\">Username</th>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <tbody>\n" +
                "                <% for (i = 0; i < 10; i++) { %>\n" +
                "                <thead>\n" +
                "                <tr>\n" +
                "                    <th scope=\"row\"><%= i + 1 %></th>\n" +
                "                    <td><%= leader2v2[i] %></td>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <% } %>\n" +
                "                </tbody>\n" +
                "            </table>\n" +
                "        </div>\n" +
                "        <div id=\"3v3\" class=\"tab-pane fade\">\n" +
                "            <table class=\"table table-striped table-dark table-condensed table-hover\">\n" +
                "                <thead>\n" +
                "                <tr>\n" +
                "                    <th scope=\"col\">#</th>\n" +
                "                    <th scope=\"col\">Username</th>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <tbody>\n" +
                "                <% for (i = 0; i < 10; i++) { %>\n" +
                "                <thead>\n" +
                "                <tr>\n" +
                "                    <th scope=\"row\"><%= i + 1 %></th>\n" +
                "                    <td><%= leader3v3[i] %></td>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <% } %>\n" +
                "                </tbody>\n" +
                "            </table>\n" +
                "        </div>\n" +
                "        <div id=\"3v3ss\" class=\"tab-pane fade\">\n" +
                "            <table class=\"table table-striped table-dark table-condensed table-hover\">\n" +
                "                <thead>\n" +
                "                <tr>\n" +
                "                    <th scope=\"col\">#</th>\n" +
                "                    <th scope=\"col\">Username</th>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <tbody>\n" +
                "                <% for (i = 0; i < 10; i++) { %>\n" +
                "                <thead>\n" +
                "                <tr>\n" +
                "                    <th scope=\"row\"><%= i + 1 %></th>\n" +
                "                    <td><%= leader3v3ss[i] %></td>\n" +
                "                </tr>\n" +
                "                </thead>\n" +
                "                <% } %>\n" +
                "                </tbody>\n" +
                "            </table>")
        }


    </script>

</div>

<% include partials/footer.ejs %>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



</body>
</html>


