<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <% include partials/sidebar.ejs %>

    <h1><%= title %></h1>
    <h1>Top 3 Rocket League Players by Goals</h1>
    <p><%= leader[0] %></p>
    <p> <%= leader[1]%> </p>
    <p> <%= leader[2]%> </p>
  </body>
</html>
